.reportview-container .main .block-container {
  margin-bottom: 0rem !important;
}
#MainMenu {
  visibility: hidden;
}
footer {
  visibility: hidden;
}
.stDeployButton {
  visibility: hidden;
}
.stTextInput input {
  background-color: #e0efff;
}

/* Button styling */
.stButton > button,
.stFileUploader .btn {
  background-color: #4f8bf9 !important;
  color: white !important;
  border: none;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adding shadow */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
}

.gray-button {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  border: none;
  padding: 5px 20px;
  font-size: 16px;
  border-radius: 5px;
  width: 100%;
}

.stButton > button:hover,
.stFileUploader .btn:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Download link styling */
a[href^="data:file/csv"],
a[href^="data:application/octet-stream"] {
  background-color: #4f8bf9;
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  text-decoration: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Adding shadow */
  display: inline-block; /* Required to apply some CSS properties */
  transition: transform 0.2s, box-shadow 0.2s; /* Smooth transition for hover effects */
  margin-left: 1em;
  margin-right: 1em;
}

a[href^="data:file/csv"]:hover,
a[href^="data:application/octet-stream"]:hover {
  transform: translateY(-2px); /* Slight lift on hover */
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

/* Customize the style */
.stAlert {
  display: flex;
  justify-content: center;
  align-items: center;
}

[data-testid="stNotification"] p {
  font-size: 20px !important;
  /* text-decoration: underline; */
  text-align: center !important;
  /* font-weight: bold; */
  margin: auto !important;
  color: #e56a54 !important;
}

/* Adjusting the style of main area */
.element-container:has(.stPlotlyChart),
.element-container:has(.stDataFrame),
[data-testid="stMarkdownContainer"]:has(table) {
  display: flex;
  justify-content: center;
}

[data-testid="stMarkdownContainer"] hr {
  margin-top: 0;
  margin-bottom: 3em;
}

.floating-quickstart {
  position: fixed;
  top: 60px;
  bottom: 60px;
  right: 20px;
  width: 300px;
  padding: 15px;
  padding-top: 50px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 100;
  font-size: 14px;
  color: #333;
  max-height: 100vh; /* Max height relative to viewport height */
  overflow-y: auto; /* Enable vertical scroll if content exceeds max-height */
  transition: background 2s ease, box-shadow 0.5s ease;
  animation: slide-from-right 1s ease-out forwards;
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.floating-quickstart:hover {
  background: linear-gradient(90deg, #e1eefe, #c3e0f2);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25), 0 16px 32px rgba(0, 0, 0, 0.2);
  transition: background 2s ease, box-shadow 0.5s ease;
}

.floating-quickstart h3 {
  margin-top: 0;
}

.floating-quickstart details {
  margin-top: 20px;
  padding-left: 20px;
}

.floating-quickstart details ul {
  padding-left: 10px;
}

.floating-quickstart summary {
  font-size: 18px;
  font-weight: semibold;
  cursor: pointer;
}
.floating-quickstart summary:hover {
  color: #4f8bf9;
}

.flex-container {
  display: flex !important;
  align-items: center;
  margin-bottom: 10px;
}

.flex-container p {
  margin: 0;
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 8px;
  cursor: help;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -110px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.9;
}

.question-circle {
  background-color: rgba(128, 128, 128, 0.5);
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.stRadio {
  padding-left: 40px;
}
.stCheckbox {
  padding-left: 5px;
}

.progress-container {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px 0;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  background: linear-gradient(90deg, #4f8bf9 0%, #6bc2ff 50%, #4f8bf9 100%);
  background-size: 200% 200%;
  animation: flow 4s ease infinite;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@keyframes flow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
